{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
  /* TODO: change heading color */
  #home-title {
    margin-bottom: 0px;
  }
  #ride-search label {
    font-size: 2.0em;
  }
  #ride-search .form-group {
    margin-top: 0px;
  }
  .trip {
    padding: 5px;
    margin-bottom: 10px;
  }
  .trip > div {
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 0px;
    vertical-align: top;
  }
  .trip h6 {
    text-transform: none;
    margin: 3px 0px;
    padding: 0px;
  }
  .travel-info div {
    display: inline-block;
    margin-right: 5px;
  }
  .travel-info div i {
    vertical-align: middle !important;
  }
  .contact {
    width: 20%;
    min-width: 150px;
    max-width: 150px;
  }
  .travel-info {
    min-width: 150px;
    width: 50%;
  }
  .view-details a {
    text-align: right;
  }
</style>
{% endblock %}

{% block content %}
<h4 id="home-title">Find rides</h4>
<form class="form-inline" id="ride-search" method="get" action="/search">
  <div class="form-group">
    <label for="ride-from">from</label>
    <input type="text" class="form-control input-lg" id="ride-from">
  </div>
  <div class="form-group">
    <label for="ride-to">to</label>
    <input type="text" class="form-control input-lg" id="ride-to">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Go</button>
</form>

<h4 class="page-header">Found 13 trips</h4>
{% for i in range(3) %}
<div class="card trip">
  <h6 class="page-header">Atlanta to Tennessee, <strong>January {{i + 10}}th, 2017</strong></h6>
  <div class="image">
    <i class="material-icons md-48">face</i>
  </div>
  <div class="contact">
    <div>John Smith</div>
    <i class="material-icons md-18">chat</i>
    <i class="material-icons md-18">phone</i>
    <i class="material-icons md-18">email</i>
  </div>
  <div class="travel-info">
    <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
    <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
    <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
    <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
    <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
    <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
  </div>
  <div class="view-details">
    <a href="#">View details</a>
  </div>
</div>
{% endfor %}

{% endblock %}