{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
  /* TODO: change heading color */
  #home-title {
    margin-bottom: 0px;
  }
  #ride-search label {
    font-size: 2.0em;
  }
  #ride-search .form-group {
    margin-top: 0px;
  }
  .trip {
    padding: 5px;
    margin-bottom: 10px;
  }
  .trip h6 {
    text-transform: none;
    margin: 3px 0px;
    padding: 0px;
  }
  .travel-info div {
    display: inline-block;
    margin-right: 5px;
  }
  .travel-info div i {
    vertical-align: middle !important;
  }
</style>
{% endblock %}

{% block content %}
<h4 id="home-title">Find rides</h4>
<form class="form-inline" id="ride-search" method="get" action="/search">
  <div class="form-group">
    <label for="ride-from">from</label>
    <input type="text" class="form-control input-lg" id="ride-from">
  </div>
  <div class="form-group">
    <label for="ride-to">to</label>
    <input type="text" class="form-control input-lg" id="ride-to">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Go</button>
</form>

<h4 class="page-header">Found <strong>3</strong> trips</h4>
{% for i in range(3) %}
<div class="card trip">
  <h6 class="page-header">Atlanta to Tennessee, <strong>January {{i + 10}}th, 2017</strong></h6>
  <div class="row">
    <div class="col-sm-3 contact-info">
      <div class="row">
        <div class="col-xs-3 image">
          <i class="material-icons md-48">face</i>
        </div>
        <div class="col-xs-8 profile-details">
          <div>John Smith</div>
          <i class="material-icons md-18">chat</i>
          <i class="material-icons md-18">phone</i>
          <i class="material-icons md-18">email</i>
        </div>
      </div>
    </div>
    <div class="col-sm-1 seat-info">
      <div><strong>{{i + 2}}</strong> seats</div>
    </div>
    <div class="col-sm-6 travel-info">
      <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
      <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
      <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
      <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
      <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
      <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
      <div><i class="material-icons md-18">smoke_free</i> No smoking</div>
    </div>
    <div class="col-sm-2 text-right view-details">
      <a href="#">View more details</a>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}